@model Formule1.Models.ProfileModel
@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>
@using (Html.BeginForm("Profile", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
@Html.ValidationSummary()
    
    @Html.LabelFor(m => m.TeamName, new { @class = "col-md-2 control-label" })
}