@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Formule 1 manager</h1>
    
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Racen (coming soon)&raquo;</a></p>
</div>

<div class="row">
   
    <div class="col-md-4">
       
    </div>
    <div class="col-md-4">
       
    </div>
 
</div>